{% load i18n admin_urls static %}

<div class="js-inline-admin-formset inline-group">
    <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
    {% for inline_admin_form in inline_admin_formset %}
        {% if inline_admin_form.original %}
            {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}
                <a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}"
                   class="{% if inline_admin_formset.has_change_permission %}inlinechangelink{% else %}inlineviewlink{% endif %}">
                    {{ inline_admin_form.original }}
                </a>
            {% endif %}
            <br>
        {% endif %}
    {% endfor %}
</div>
